body{
    margin: 0;
    padding: 15px;
    font-family: 'roboto',sans-serif;

}

* {
    box-sizing: border-box;
}

.container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    flex-direction: column;
}

.container img{
    width: 100%;
    max-width: 500px;
}

.searchbar{
    display: flex;
        align-items: center;
        border: 2px solid;
        border-radius: 40px;
        width: 100%;
        max-width: 700px;
        margin: auto;
        margin-top: 40px;
        overflow: hidden;
}
.searchbar input{
    width: 700px;
    outline: none;
    border: none;
    /* padding: 10px */
    font-size: larger;
    padding: 15px;
    background-color: transparent;
    font-family: 'roboto',sans-serif;
}

.searchbar img , .cross-icon{
    margin: 15px;
    width: 20px;
}

.cross-icon{
    display: none;
}

.search-menu{
    width: 100%;
    max-width: 700px;
}

.searchbar:focus-within{
    background-color: lightgrey;
    border-radius: 30px 30px 0 0;
    border: transparent;
    
}

.searchbar input:focus-within{
    background-color: lightgrey;
}

.searchbar:hover{
    background-color: lightgrey;
    border: none;
}

.searchbar:focus-within .cross-icon{
        display: block;
}

.suggesttion-menu{
    background-color: lightgrey;
    border-radius: 0px 0px 30px 40px;
    border: transparent;
    padding: 0px 16px 20px;
    display: none;
    
}

.border-top{
    border-top: 1px solid black;
    margin-bottom: 8px;
    
}

.searchbar:focus-within + .suggesttion-menu{
    display: block;
}

.suggesttion-menu p{
        margin: 0;
        padding: 10px 55px;
        cursor: pointer;
}
.suggesttion-menu p:hover{
    background-color: #f0f0f0;
}


